<h2>ユーザ一覧</h2>

<div class="right-menu  white-menu">
  <%= link_to "My Profile", {:controller => :users, :action => :show, 
                             :id => login_user.id} %>

</div>

<% @users.each do |user| %>
  <div class="step-item">
    <%= user_icon_tag(user) %>
    <%= user.username %>
    フォローされている：<%= user.followers.count %> | 
    フォローしている：<%= user.friends.count %>
  </div>
<% end %>

<br />
