<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.icon_link, :title => @user.username, 
                :alt => @user.username%>
  <%= @user.username %>
</p>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</p>

<p>
  <b>参加プロジェクト数:</b>
  <%= @user.projects.size %>
</p>

<% @user.projects.each do |project| -%>
  <%= render "/streets/project", :project => project %>
<% end -%>
