
<h2><%= @project.name %></h2>

<% if !@project.icon_url.nil? and !@project.icon_url.empty? -%>
  <p>
    <%= image_tag @project.icon_url, :title => @project.name, 
                                     :alt => @project.name %>
  </p>
<% end %>

<p>
  <b>概要:</b>
  <%= @project.about %>
</p>


<p>
  <b>登録日:</b>
  <%= @project.created_at %>&nbsp;
  <b>最終更新日:</b>
  <%= @project.updated_at %>
</p>

<h4 class="step-title">実行中のステップ</h4>

<% if @project.steps.empty? -%>
  <table class="step-table">
    <tr><td><p>実行中のステップはありません</p></td></tr>
  </table>
<% else %>
  <table class="step-table">
    <% @project.steps.each do |step| -%>
      <tr>
        <td><%= user_icon_tag(step.user) %></td>
        <td><%= step.name %></td>
      </tr>
    <% end -%>
  </table>
<% end -%>

<hr />

<%= link_to '編集', edit_project_path(@project) %> |

<% if @project.have_user?(login_user) %>
  <%= link_to "このプロジェクトへの参加をやめる", {:controller => :projects, 
                                              :action => :delete_me, 
                                              :id => @project.id},
               :conferm => "プロジェクトから外れます。よろしいですか？" %>
<% else %>
  <%= link_to "このプロジェクトに参加する", {:controller => :projects, 
                                         :action => :add_me, 
                                         :id => @project.id},
              :conferm => "プロジェクトに参加します。よろしいですか？" %>
<% end %>
